
.caracteristicas {
    flex: 1 0 0%;
    color: white;
    font-size: 26px;
}
.name {
    background: white;
    color: black;
    font-size: 58px;
    font-family: fantasy;
}
.colAbajo{
    color: black;
   
}
.imagenPersonaje {
    width: 77%;
   
}

a {
    color: #e9ecef;
    text-decoration: underline;
    font-size: 30px;
}