@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.col-md-2 {
    margin: 0 auto;
    flex: 0 0 auto;
    width: 17.666667%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background: transparent;
    height: 300px;
    margin-bottom: 10px;
}

.tittle {    
    font-family: 'Righteous', cursive;
    font-size: 3.5rem;
    color: #dcd22b;

    padding: 60px 10px;
}


h3, h3 {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;

}


.fa-solid, .fas {
    font-weight: 900;
    color: #bb2d4c;
    font-size: 18px;
}
.btnLeerMas {
    color: #fff;
    background-color: #5b529694;
    border-color: #5b529694;
    margin-left: 33px;
    font-size: 34px;
}
